.notodo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding: 4rem 0;

	color: var(--gray-300);
	font-size: 1rem;

	svg {
		margin-bottom: 1rem;
	}

	span {
		font-weight: 700;
	}
}
